.header{
 /* text-align: left; */
    background-color: grey;
    padding: 2em;
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:  url("https://i.imgur.com/BY1pIhP.png");
    border-bottom: 8px solid goldenrod;
}
body{
    background-color: rgb(145, 145, 145);
}
.desciptors{
    display: flex;
    
}
.hi{
    font-size: 4em;
}
.portrait{
   display: flex;
   float: right;
    width: 20em;
    height: 20em;
    border-radius: 50%;
}
.links{
    display: flex;
    margin-top: 20%;
}
.logoLink{
    height: 3em;
    width: 3em;
    padding: .5em;
}