.header{
 /* text-align: left; */
    text-align: center;
    padding: 2em;
    margin-left: 0;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
body{
    
}
.desciptors{
    display: flex;
    
}
.portraitWrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.portrait{
    width: 20em;
    height: 20em;
    border-radius: 50%;
}
.links{
    
}
.logoLink{
    height: 3em;
    width: 3em;
    padding: .5em;
}